<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="Car ,car ,buy car ,cars">
    <meta name="description" content="This site helps you to buy your dream car at the best price and service">
    <meta name="author" content="michael khalaf">
    <meta http-equiv="refresh" content="900">
    <link rel="icon" type="image/x-icon" href="../content/media/images/logo.png">
    <title>Motiv Cars</title>
    <link rel="stylesheet" href="../content/vendors/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="/path/to/jquery.easy-pie-chart.css">
    <link type="text/css" href="/assets-old/css/argon.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../content/css/booking.css">
    <link rel="stylesheet" href="../content/css/Dashboard.css">
</head>

<body class="container-fluid bg-gray">
    <div class="row justify-content-end">
        <!-- left nav start -->
        <header class="col-sm-3 col-lg-2 col-6 d-sm-block flex-column d-sm-block bg-white left-nav"
            data-aos="fade-right" data-aos-duration="700">
            <div class=" my-2 mb-sm-3 mt-sm-4 mx-3 d-flex flex-row">
                <img src="../content/media/images/logo.png" alt="logo" height="25">
                <h5 class="mx-2">Motiv.</h5>
            </div>
            <!-- top items start -->
            <div class="ms-2 me-0 d-flex flex-column">
                <a class="col-12 p-0 mt-sm-1 mt-0" href="#">
                    <div class="col-10 d-flex flex-row ms-3 mt-0 active">
                        <img src="../content/media/images/dashboard icon.png" alt="dashboard" height="30"
                            class="py-2 ms-1">
                        <p class="m-0 ms-1 mx-1 pt-1 "> Dashboard</p>
                    </div>
                </a>
                <a class="col-12 p-0 mt-sm-1 mt-0" href="#">
                    <div class="col-10 d-flex flex-row ms-3 mt-0">
                        <img src="../content/media/images/assest icon.png" alt="Assets" height="30" class="py-2 ms-1">
                        <p class="m-0 ms-1 mx-1 pt-1 "> Assets</p>
                    </div>
                </a>
                <a class="col-12 p-0 mt-sm-1 mt-0" href="../view/index.html">
                    <div class="col-10 d-flex flex-row ms-3 mt-0">
                        <img src="../content/media/images/car-icon.png" alt="Booking" height="30" class="py-2 ms-1">
                        <p class="m-0 ms-1 mx-1 pt-1 "> Booking</p>
                    </div>
                </a>
                <a class="col-12 p-0 mt-sm-1 mt-0" href="#">
                    <div class="col-10 d-flex flex-row ms-3 mt-0">
                        <img src="../content/media/images/sell icon.png" alt="Sell Cars" height="30" class="py-2 ms-1">
                        <p class="m-0 ms-1 mx-1 pt-1 "> Sell Cars</p>
                    </div>
                </a>
                <a class="col-12 p-0 mt-sm-1 mt-0" href="#">
                    <div class="col-10 d-flex flex-row ms-3 mt-0">
                        <img src="../content/media/images/buy icon.png" alt="Buy Car" height="30" class="py-2 ms-1">
                        <p class="m-0 ms-1 mx-1 pt-1 "> Buy Car</p>
                    </div>
                </a>
                <a class="col-12 p-0 mt-sm-1 mt-0" href="#">
                    <div class="col-10 d-flex flex-row ms-3 mt-0">
                        <img src="../content/media/images/service icon.png" alt="Services" height="30"
                            class="py-2 ms-1">
                        <p class="m-0 ms-1 mx-1 pt-1 "> Services</p>
                    </div>
                </a>
                <a class="col-12 p-0 mt-sm-1 mt-0" href="#">
                    <div class="col-10 d-flex flex-row ms-3 mt-0">
                        <img src="../content/media/images/calender icon.png" alt="Calender" height="30"
                            class="py-2 ms-1">
                        <p class="m-0 ms-1 mx-1 pt-1 "> Calender</p>
                    </div>
                </a>
                <a class="col-12 p-0 mt-sm-1 mt-0" href="#">
                    <div class="col-10 d-flex flex-row ms-3 mt-0">
                        <img src="../content/media/images/message icon.png" alt="Message" height="30" class="py-2 ms-1">
                        <p class="m-0 ms-1 mx-1 pt-1 "> Message</p>
                    </div>
                </a>
            </div>
            <!--! top items end -->
            <!-- bottom items start -->
            <div class="ms-2 me-0 d-flex flex-column bottom-N-l col-10">
                <a class="col-12 p-0 mb-sm-2 mb-1" href="#">
                    <div class="col-10 d-flex flex-row ms-3 mt-0">
                        <img src="../content/media/images/setting.png" alt="dashboard" height="30" class="py-2 ms-1">
                        <p class="m-0 ms-1 mx-1 pt-1 "> Setting</p>
                    </div>
                </a>
                <a class="col-12 p-0 mt-sm-2 mt-1" href="#">
                    <div class="col-10 d-flex flex-row ms-3 mt-0">
                        <img src="../content/media/images/logout icon.png" alt="dashboard" height="30"
                            class="py-2 ms-1">
                        <p class="m-0 ms-1 mx-1 pt-1 "> Log Out</p>
                    </div>
                </a>
            </div>
            <!--! bottom items end -->
        </header>
        <!--! left nav end -->
        <!-- body start -->
        <section class="col-sm-9 col-lg-10 col-12 booking-body">
            <!-- top nav start -->
            <nav class="navbar sticky-top col-12 bg-white" data-aos="fade-down" data-aos-duration="700">
                <div class="container-fluid">
                    <div class="d-flex flex-row mt-0 mt-2 col-sm-10 col-8">
                        <!-- button to show the left navbar in the small screens -->
                        <button class=" p-0 m-0 col-1 d-sm-none d-flex" id="menu">
                            <img src="../content/media/images/icons8-menu-40.png" alt="menu" height="25" class="mt-1">
                        </button>
                        <form class="d-flex col-sm-4 col-11" role="search">
                            <input class="form-control me-2 search-control mx-3 py-sm-3 py-3 bg-gray" type="search"
                                placeholder="&#xf002; |Search or Type"
                                style="font-family:Arial, FontAwesome ;font-size:small;" aria-label="Search">
                        </form>
                    </div>
                    <div class="col-2 d-flex flex-row justify-content-end">
                        <div class="col-sm-3 col-6">
                            <a href="#"><img src="../content/media/images/notification.png" width="15vh"
                                    alt="notification" class="mt-3"></a>
                        </div class="col-sm-3 col-6">
                        <div class="rounded-circle bg-gray">
                            <a href="#"><img src="../content/media/images/portrait.png" alt="profile"
                                    class="rounded-circle"></a>
                        </div>
                    </div>
                </div>
            </nav>
            <!--! top nav end -->
            <!-- dashboard  start -->
            <div class="row col-12 booking-tap mx-1 justify-content-center">
                <div class="col-md-3 col-6 " data-aos="fade-up" data-aos-duration="900">
                    <div class="m-2 bg-move py-4 rounded-2 d-flex flex-column align-items-center">
                        <img src="../content/media/images/enargy icon.png" alt="enargy" class="col-1">
                        <h6 class="my-2">Energy</h6>
                        <img src="../content/media/images/pie chart.png" alt="pie1" class="my-3 col-md-5 col-8">
                    </div>
                </div>
                <div class="col-md-3 col-6" data-aos="fade-up" data-aos-duration="900">
                    <div class="m-2 bg-white py-4 rounded-2 d-flex flex-column align-items-center">
                        <img src="../content/media/images/power icon.png" alt="power" class="col-1">
                        <h6 class="my-2">Range</h6>
                        <img src="../content/media/images/pie chart (1).png" alt="pie2" class="my-3 col-md-5 col-8">
                    </div>
                </div>
                <div class="col-md-3 col-6" data-aos="fade-up" data-aos-duration="900">
                    <div class="m-2 bg-white py-4 rounded-2 d-flex flex-column align-items-center">
                        <img src="../content/media/images/blood icon.png" alt="break" class="col-1">
                        <h6 class="my-2">Break Fluid</h6>
                        <img src="../content/media/images/Frame 3.png" alt="pie3" class="my-3 col-md-5 col-8">
                    </div>
                </div>
                <div class="col-md-3 col-6" data-aos="fade-up" data-aos-duration="900">
                    <div class="m-2 bg-white py-4 rounded-2 d-flex flex-column align-items-center">
                        <img src="../content/media/images/tier icon.png" alt="tire" class="col-1">
                        <h6 class="my-2">Tire Wear</h6>
                        <img src="../content/media/images/Frame 4.png" alt="pie3" class="my-3 col-md-5 col-8">
                    </div>
                </div>
                <div class="col-sm-6 col-12 h-100 " data-aos="fade-up" data-aos-duration="900">
                    <div class="m-2 bg-white py-3 ps-4 rounded-2 d-flex flex-column align-items-start">
                        <h5>Miles <span class="text-secondary">Statistics</span></h5>
                        <img src="../content/media/images/bar chart.png" alt="graph2" class="col-12">
                    </div>
                </div>
                <div class="col-sm-6 col-12 h-100" data-aos="fade-up" data-aos-duration="900">
                    <div class="m-2 bg-white py-3 ps-4 rounded-2 d-flex flex-column align-items-start">
                        <h5>Car <span class="text-secondary">Statistics</span></h5>
                        <img src="../content/media/images/graph1.png" alt="graph1" class="col-12">
                    </div>
                </div>
                <div class="col-lg-4 col-12 h100 " data-aos="fade-up" data-aos-duration="900">
                    <div class="m-2 bg-gold py-3 rounded-2 d-flex flex-column align-items-center">
                        <div class="row mx-4 col-12">
                            <div class="col-2  d-flex flex-column align-items-end">
                                <img src="../content/media/images/icon.png" alt="icon" class="col-8">
                            </div>
                            <h6 class="col-9 m-0 text-start">64% Recommend</h6>
                            <img src="../content/media/images/dashcar1.png" alt="dashcar1.png" class="mx-4 col-10">
                            <h5 class="mx-4 my-2">Mini Coper</h5>
                            <div class="mx-4 row text-secondary">
                                <div class="row col-lg-7 col-5 justify-content-between">
                                    <div class="col-3">
                                        <img src="../content/media/images/Vector01.png" alt="01 icon"
                                            class="col-12 me-1">
                                    </div>
                                    <h6 class="col-3 text-sm-center mt-1">132k</h6>
                                    <div class="col-3">
                                        <img src="../content/media/images/Vector02.png" alt="02 icon"
                                            class="col-12 me-1">
                                    </div>
                                    <div class="col-3">
                                        <img src="../content/media/images/Vector03.png" alt="03 icon"
                                            class="col-12 me-1">
                                    </div>
                                </div>
                                <div class="col-3"></div>
                                <h6 class="col-2 mt-1">
                                    $32/h
                                </h6>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-12 h-100" data-aos="fade-up" data-aos-duration="900">
                    <div class="m-2 bg-blue py-3 rounded-2 d-flex flex-column align-items-center">
                        <div class="row mx-4 col-12">
                            <div class="col-2  d-flex flex-column align-items-end">
                                <img src="../content/media/images/icon.png" alt="icon" class="col-8">
                            </div>
                            <h6 class="col-9 m-0 text-start">74% Recommend</h6>
                            <img src="../content/media/images/dashcar2.png" alt="dashcar2.png" class="mx-4 col-10">
                            <h5 class="mx-4 my-2">Porshe 911 carear</h5>
                            <div class="mx-4 row text-secondary">
                                <div class="row col-lg-7 col-5 justify-content-between">
                                    <div class="col-3">
                                        <img src="../content/media/images/Vector01.png" alt="01 icon"
                                            class="col-12 me-1">
                                    </div>
                                    <h6 class="col-3 text-sm-center mt-1">132k</h6>
                                    <div class="col-3">
                                        <img src="../content/media/images/Vector02.png" alt="02 icon"
                                            class="col-12 me-1">
                                    </div>
                                    <div class="col-3">
                                        <img src="../content/media/images/Vector03.png" alt="03 icon"
                                            class="col-12 me-1">
                                    </div>
                                </div>
                                <div class="col-3"></div>
                                <h6 class="col-2 mt-1">
                                    $32/h
                                </h6>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-12 h-100" data-aos="fade-up" data-aos-duration="900">
                    <div class="m-2 bg-red py-3 rounded-2 d-flex flex-column align-items-center">
                        <div class="row mx-4 col-12">
                            <div class="col-2  d-flex flex-column align-items-end">
                                <img src="../content/media/images/icon.png" alt="icon" class="col-8">
                            </div>
                            <h6 class="col-9 m-0 text-start">84% Recommend</h6>
                            <img src="../content/media/images/dashcar3.png" alt="dashcar3.png" class="mx-5 col-9">
                            <h5 class="mx-4 my-2">Porshe 922 carear</h5>
                            <div class="mx-4 row text-secondary">
                                <div class="row col-lg-7 col-5 justify-content-between">
                                    <div class="col-3">
                                        <img src="../content/media/images/Vector01.png" alt="01 icon"
                                            class="col-12 me-1">
                                    </div>
                                    <h6 class="col-3 text-sm-center mt-1">132k</h6>
                                    <div class="col-3">
                                        <img src="../content/media/images/Vector02.png" alt="02 icon"
                                            class="col-12 me-1">
                                    </div>
                                    <div class="col-3">
                                        <img src="../content/media/images/Vector03.png" alt="03 icon"
                                            class="col-12 me-1">
                                    </div>
                                </div>
                                <div class="col-3"></div>
                                <h6 class="col-2 mt-1">
                                    $32/h
                                </h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--! dashboard end -->
        </section>
        <!--! body end -->
    </div>
    <!-- aos library -->
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script src="../content/vendors/AOS/aos.js"></script>
    <!--! aos library -->
    <!-- jquery , bootstarp-->
    <script src="https://code.jquery.com/jquery-3.6.3.js"
        integrity="sha256-nQLuAZGRRcILA+6dMBOvcRh5Pe310sBpanc6+QBmyVM=" crossorigin="anonymous"></script>
    <script src="../content/vendors/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!--! jquery , bootstarp -->
    <!-- charts library -->
    <script src="//cdn.amcharts.com/lib/4/core.js"></script>
    <script src="//cdn.amcharts.com/lib/4/charts.js"></script>
    <script src="//cdn.amcharts.com/lib/4/maps.js"></script>
    <script src="/assets-old/js/argon.min.js"></script>
    <!--! charts library -->
    <script src="../content/js/booking.js"></script>
    <script src="../content/js/Dashboard.js"></script>
</body>

</html>